@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply theme-light
}

.theme-yesh {
    --col-navbar: transparent;
    --col-sidebar: #16132a;
    --col-accent: #22d3ee;
    --col-altAccent: #3b82f6;
    --col-accentContrast: #fff;
    --col-background: #120720;
    --col-container: #1e1b3b;
    --col-subContainer: #2c284e;
    --col-textPrimary: #fff;
    --col-textSecondary: #9ca3af;
}

.theme-dark {
    --col-navbar: #1A1A1A;
    --col-sidebar: #1A1A1A;
    --col-accent: #777;
    --col-altAccent: #666;
    --col-accentContrast: #fff;
    --col-background: #111;
    --col-container: #222;
    --col-subContainer: #333;
    --col-textPrimary: #fff;
    --col-textSecondary: #ddd;
}

.theme-light {
    --col-navbar: #eee;
    --col-sidebar: #eee;
    --col-accent: #777;
    --col-altAccent: #555;
    --col-accentContrast: #fff;
    --col-background: #fff;
    --col-container: #eee;
    --col-subContainer: #ccc;
    --col-textPrimary: #000;
    --col-textSecondary: #222;
}

/* https://catppuccin.com/ */
.theme-catppuccin {
    --col-navbar: #24273a;
    --col-sidebar: #24273a;
    --col-accent: #ee99a0;
    --col-altAccent: #ed8796;
    --col-accentContrast: #363a4f;
    --col-background: #1e2030;
    --col-container: #24273a;
    --col-subContainer: #363a4f;
    --col-textPrimary: #cad3f5;
    --col-textSecondary: #a5adcb;
}

/* https://www.nordtheme.com/ */
.theme-nord {
    --col-navbar: #3b4252;
    --col-sidebar: #3b4252;
    --col-accent: #88c0d0;
    --col-altAccent: #5e81ac;
    --col-accentContrast: #eceff4;
    --col-background: #2e3440;
    --col-container: #434c5e;
    --col-subContainer: #4c566a;
    --col-textPrimary: #e5e9f0;
    --col-textSecondary: #d8dee9;
}

/* https://github.com/sainnhe/everforest */
.theme-everforest {
    --col-navbar: #2D353B;
    --col-sidebar: #2D353B;
    --col-accent: #A7C080;
    --col-altAccent: #A7C080;
    --col-accentContrast: #3A515D;
    --col-background: #232A2E;
    --col-container: #343F44;
    --col-subContainer: #3D484D;
    --col-textPrimary: #D3C6AA;
    --col-textSecondary: #859289;
}

.blue-button {
    @apply bg-gradient-to-r from-accent to-altAccent text-accentContrast font-medium py-3.5 px-6 rounded-lg hover:brightness-90 transition-all flex items-center justify-center gap-2 disabled:opacity-90 disabled:cursor-not-allowed shadow-lg
}

.secondary-button {
    @apply px-5 py-2 border-2 border-accent text-textPrimary rounded-md hover:text-accent hover:border-accentContrast transition-colors flex items-center gap-2
}

.gradient-text {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-accent to-altAccent
}

.gradient-background {
    @apply bg-gradient-to-r from-accent to-altAccent
}
